.app-docs-container{
  .app-docs{
    .app-docs-section{
      margin-top: 4rem;
      .app-docs-section-title{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.875rem;
      }
      .app-docs-section-desc{
        font-size: 1.0625rem;
        font-weight: 400;
      }
    }
  }
}