.app-home-container{
  .app-home{
    margin-bottom: 10rem;
    h1{
      font-weight: 700;
      font-size: 1.875rem;
    }
    .app-home-illustration-car{
      opacity: 0.55;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .app-home-partners{
      svg{
        opacity: 0.9;
      }
    }
    .app-home-line{
      height: 0.0625rem;
      background: $app-primary-grey;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
    .app-home-shield{
      width: 8rem;
      height: auto;
    }
    .app-home-section{
      margin-bottom: 8rem;
      margin-top: 8rem;
    }

    .app-home-first-section{
      margin-top: 12rem;
    }

    .app-home-arrow-down{
      position: absolute;
      bottom: 2rem;
      padding: 0 0.8rem 0.8rem 0.8rem;
      left: 50%;
      transform: translate(-50%, 0);
      svg{
        width: 2rem;
        animation: arrow_repetition 2s ease infinite;
        pointer-events: none;

        @keyframes arrow_repetition{
          0% {transform: translateY(0)}
          50% {transform: translateY(35px)}
          100% {transform: translateY(0px)}
        }
      }
    }

    .app-home-example-demo{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        transition: 0.2s ease opacity;
      }
      a{
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: none;
        transition: 0.2s ease opacity;
      }


      &:hover{
        img{
          opacity: 0.4;
        }
        a{
          opacity: 1;
        }
      }
    }



  }
}