.container{
    display: flex;
    
    .login-page-left{
        //jariv pas a changer la hauteur de ce foutu svg aled
    }

    .login-page-right{
        input{
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            height: 2rem;
        }
        .login-input-text{
            margin-bottom: 0.5rem;
        }
        .grey-text{
            color: $app-primary-grey2;
            margin-bottom: 2rem;
        }
        .connection{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

    }

}
