.app-button-primary{
  font-weight: 700;
  border-radius: 0.5rem;
  color: $app-primary-white;
  background: $app-primary-blue;
  padding: 1rem 1.5625rem;
  border: $app-primary-white solid 0.0625rem;
  transition: color ease 0.2s, background ease 0.2s, border ease 0.2s;
  &:hover{
    background: $app-primary-white;
    color: $app-primary-blue;
    border: $app-primary-blue solid 0.0625rem;
    text-decoration: none;
  }
}