$app-primary-white: #FFFFFF;
$app-primary-black: #232323;
$app-primary-blue: #277EFF;
$app-primary-grey: #DBDBDB;
$app-primary-grey2: #757575;
$app-primary-green: #4EC56F;
$app-primary-orange: #FF9D2B;
$app-primary-red: #FF4141;