// Import Global
@import 'scss/global/fonts.scss';
@import 'scss/global/colors.scss';
@import 'scss/global/text.scss';
@import 'scss/global/button.scss';

// Import Components
@import 'scss/components/navbar.scss';
@import 'scss/components/footer.scss';

// Import Pages
@import 'scss/pages/home.scss';
@import 'scss/pages/login-register.scss';
@import 'scss/pages/status.scss';
@import 'scss/pages/docs.scss';
@import 'scss/pages/pricing.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
